 .PostNavigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .PostNavigation li {
    float: right;
  }
  
  .PostNavigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .PostNavigation li a:hover {
    background-color: #111;
  }

  .PostNavigation li a:hover,
    .PostNavigation li a:active,
    .PostNavigation li a.active {
        background-color: green;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }

   
      