.ContactUs {
    margin: 30px auto;
    width: 50%;
    height: 1000px;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.ContactUs input {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px;
    
      
}


.ContactUs button {
    margin:20px;
}

