.Login {
    margin: 30px auto;
    width: 40%;
    height: 500px;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.Login input {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px;
      
}


.Login button {
    margin:10px 20px 30px 60px;
    width:200px;
}

