.CreatePost {
    margin: 30px auto;
    width: 40%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.CreatePost input {
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px;
      
}


.CreatePost button {
    margin:20px;
}

